{% extends "frontend/base.html.twig" %}

{% block title %}
    {% trans %}article_list_title{% endtrans %}
{% endblock %}

{% block body %}
    <main>
        <div class="page_content_block">
            <div class="page_content_block_inner">
                <div class="tabs js_tabs">
                    <div class="tabs_titles">
                        <div class="tabs_title js_tabs_title selected" data-tab_id="last_ones">
                            Последние
                        </div>
                        <div class="tabs_title js_tabs_title" data-tab_id="popular_ones">
                            Популярные
                        </div>
                    </div>

                    <div class="tabs_content js_tabs_content selected" data-tab_id="last_ones">
                        {% include '@frontend/article/_article_list.html.twig' with {'pagination': last_pagination} %}
                    </div>
                    <div class="tabs_content js_tabs_content" data-tab_id="popular_ones">
                        {% include '@frontend/article/_article_list.html.twig' with {'pagination': popular_pagination} %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
