{% extends "frontend/base.html.twig" %}

{% block title %}
    {% for translation in article.articleTranslations %}
        {{ translation.title }}
    {% endfor %}
{% endblock %}

{% block body %}
    <main>
        <div class="page_content_block">
            <div class="page_content_block_inner">
                <h1>{{ article.relevantTranslation.title }}</h1>

                {{ article.relevantTranslation.content|raw }}
            </div>
        </div>
    </main>
{% endblock %}
