{% extends "frontend/base.html.twig" %}

{% block title %}Как покупать в интернете по всему миру?{% endblock %}

{% block body %}
    <main>
        <div class="page_content_block">
            <div class="page_content_block_inner">
                {% for translation in article.articleTranslations %}
                    <h1>{{ translation.title }}</h1>
                {% endfor %}

                {% for translation in article.articleTranslations %}
                    {{ translation.content|raw }}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
