{% extends "frontend/base.html.twig" %}

{% block title %}Как покупать в интернете по всему миру?{% endblock %}

{% block header %}
    <div class="page_header">
        <a href="#" class="article_list_spoiler"></a>

        <a href="/" class="inner_page_logo"></a>

        <div class="article_list">
            <a href="/" class="article_list_item">Как отслеживать посылки?</a>
            <a href="/" class="article_list_item">Как покупать в интернете?</a>
        </div>

        <div class="telegram_link_wrap">
            <a href="#" class="telegram_link">Телеграм бот</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <main>
        <div class="page_content_block">
            <div class="page_content_block_inner">
                {% for translation in article.articleTranslations %}
                    <h1>{{ translation.title }}</h1>
                {% endfor %}

                {% for translation in article.articleTranslations %}
                    {{ translation.content|raw }}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
