{% extends "frontend/base.html.twig" %}

{% block title %}Как покупать в интернете по всему миру?{% endblock %}

{% block header %}
    <div class="page_header">
        <a href="#" class="article_list_spoiler"></a>

        <a href="/" class="inner_page_logo"></a>

        <div class="article_list">
            <a href="/" class="article_list_item">Как отслеживать посылки?</a>
            <a href="/" class="article_list_item">Как покупать в интернете?</a>
        </div>

        <div class="telegram_link_wrap">
            <a href="#" class="telegram_link">Телеграм бот</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <main>
        <div class="page_content_block">
            <div class="page_content_block_inner">
                <h1>Как покупать в интернете по всему миру?</h1>
            </div>

            <div class="page_content_block_inner">
                <p>
                    Интерес Узбекистанцев к интернет-покупкам за рубежом активно растет.
                    И неувдивительно, онлайн-магазины приятно удивляют головокружительным
                    ассортиментом и адекватными ценами.
                </p>

                <p>
                    Интернет площадки стали достойной альтернативой местным магазинам,
                    часто предлагающим скудный ассортимент при завышеных ценах.
                </p>
            </div>

            <div class="page_map">
                <div class="page_map_title">
                    Итак, давайте ответитим на самые популярные вопросы:
                </div>

                <div class="page_map_links">
                    <a href="#title_1" class="page_map_link">
                        <img src="/public/uploads/articles/card.png"/>
                        <div>Как открыть валютную карту ?</div>
                    </a>
                    <a href="#title_2" class="page_map_link">
                        <img src="/public/uploads/articles/balloon.png"/>
                        <div>Как оформить адрес ?</div>
                    </a>
                    <a href="#title_3" class="page_map_link">
                        <img src="/public/uploads/articles/pc.png"/>
                        <div>Как выбрать магазин ?</div>
                    </a>
                    <a href="#title_4" class="page_map_link">
                        <img src="/public/uploads/articles/delivery.png"/>
                        <div>Как получать посылки ?</div>
                    </a>
                    <a href="#title_5" class="page_map_link">
                        <img src="/public/uploads/articles/coins.png"/>
                        <div>Как оплатить покупку ?</div>
                    </a>
                    <a href="#title_6" class="page_map_link">
                        <img src="/public/uploads/articles/message.png"/>
                        <div>Как общаться с магазинами ?</div>
                    </a>
                </div>
            </div>

            <div class="page_content_block_inner">
                <h2 id="title_1">Как открыть валютную карту ?</h2>

                <p>
                    Процедура открытия валютной карты достаточно проста - гражданину Узбекистана достаточно явиться
                    в выбранный банк с паспортом и копией ИНН и подать заявление на открытие счета и выпуск карты.
                </p>

                <div class="highlighted_block">
                    При выборе банка, большое значение имеет размер комиссии снимаемой при oсуществелении покупок,
                    разница может составлять до 2%.
                </div>

                <p>
                    Банки Узбекистана предлагают клиентам международные карты Visa, Master cartd или Union pay.
                    Это самые крупные из платежных систем, работающих по всему миру.
                </p>

                <p>
                    А Сама карта изготовляется в среднем за 3–7 дней.
                    При условии срочного выпуска стоимость будет дороже.
                </p>

                <h2 id="title_2">Как выбрать магазин ?</h2>

                <p>
                    В интернете огромный выбор магазинов которые предлагают очень выгодные цены от которых сложно
                    отказаться и конечно, мошенники пользуются этим создавая свои фейковые “магазины”
                    c еще более низкими ценами. Что бы избежать проблем с такими сайтами,
                    обязатнльно проверяйте их изучайте историю и отзывы о нём.
                    Помните - бесплатный сыр бывает только в мышеловке.
                </p>

                <p><b>Проверяем историю магазина!</b></p>

                <p>
                    Проверить историю работы интернет-магазина нам помогут сервисы анализа сайтов, например: cy-pr.com.
                    Введите в поисковую строку адрес магазина и получите подробную статистику по нему.
                </p>

                <div class="highlighted_block">
                    Если сайт работает всего пару месяцев или его посещают меньше 1000 посетителей в день,
                    то лучше не рисковать и поискать более надёжный вариант.
                </div>

                <p><b>Читаем реальные отзывы!</b></p>

                <p>
                    ОБЯЗАТЕЛЬНО читайте отзывы о магазинах. Читайте отзывы не только на сайте магазина, а найдите их с
                    помощью поисковых систем. Чем больше отзывов вы найдёте, тем лучше.
                    Про надёжные интрнет магазины часто снимают видеообзоры и пишут обзорные статьи, такие магазины
                    часто появляются в рейтинговых списках.
                </p>

                <h2 id="title_3">Как зарегистрироавться и оформить адрес ?</h2>

                <p>
                    Во время регистрации магазин попросит вас ввести данные о себе и адрес на который будут отправлять
                    ваши посылки. Данные необходимо вводить точно как в паспорте и латинскими буквами.
                </p>

                <p>
                    Вас обязательно попросят ввести следующие данные: имя, фамилия, страна, город с адресом,
                    номер контактного телефона и почтовый индекс ближайшего к вам отделения почты.
                    Почтовый индекс вашего отделения можно найти на оф. сайте почты pochta.uz в разделе “филиалы”.
                    Пример формления адреса:
                </p>

                <div class="img_wrap">
                    <img src="/public/uploads/Dex_20160713164830.jpg" alt="">

                    <div class="img_description">
                        <p>
                            Краткое описание картинки или видео
                        </p>
                    </div>
                </div>

                <h2 id="title_4">Как оплачивать покупки ?</h2>

                <p>
                    Для оплаты заказа вас попросят ввести следующие данные: Имя и Фамилия держателя карты; номер карты;
                    срок действия карты; код безопасности (у Mastercard - CVC2, у Visa – CVV2).
                </p>

                <p>
                    Обратите внимание, что если карта выпущена в сумах или рублях, то при проведении оплаты будет также
                    списана некоторая сумма за конвертацию. Пример оформления оплаты:
                </p>

                <h2 id="title_5">Как получать посылки ?</h2>

                <p>
                    Когда посылка прибудет в ваш город, вам позвонит почтальон или курьер и объяснит где и как можно
                    получить посылку. Обычно просят забрать посылку в блжайшем к вам отделении почты.
                    Если посылка отправлена курьерской службой, то доставка возможна прямо до вашего дома.
                </p>

                <div class="highlighted_block">
                    Вскрытие посылки на почте или дома ОБЯЗАТЕЛЬНО снимаем на видео.
                    Видеодоказательства в любом споре будут вашим сильнейшим аргументом!
                </div>

                <p>
                    После того как вы получили посылку и проверили её, вам нужно будет расписаться на бланке извещения.
                    Подпись на бланке означает что, вы приняли посылку и не имеете никаких претензий к почте,
                    поэтому будьте внимательнее во время осмотра своей посылки.
                </p>

                <p>
                    Если же вы обнаружили на упаковке следы вскрытия или серьезные повреждения, то нужно пригласить
                    начальника почтового отделения и в его присутствии начать процедуру официального вскрытия.
                    Если товар был поврежден или украден, то начальник почтового отделения должен составить акт и
                    начать разбирателсьтва по этому поводу. Обратите внимание что, бланк извещения, в этом случае,
                    по прежнему не подписываем!
                </p>
            </div>
        </div>
    </main>
{% endblock %}
