{% extends "frontend/base.html.twig" %}

{% block body %}
    <main>
        <div class="page_content_block">
            <div class="page_content_block_inner">
                <h1>{{ page.pageTranslations.0.title }}</h1>

                {{ page.pageTranslations.0.content|raw }}
            </div>
        </div>
    </main>
{% endblock %}
