<div class="col-lg-4">
    <div class="card ks-card-widget">
        <h5 class="card-header">Мета теги страниц</h5>
        <div class="card-block">
            <p>
                Мета теги указываются для страниц по ссылкам.
                Ссылки можно указывать двумя способами:
            </p>

            <ul>
                <li>
                    <p><b>По регулярному выражению для целого типа элементов.</b></p>

                    <table class="table ks-table-tasks">
                        <tr>
                            <td>Для категорий статей:</td>
                            <td class="ks-text-right">^/article/.*[^/]/(\?.*)?</td>
                        </tr>
                        <tr>
                            <td>Для статей:</td>
                            <td class="ks-text-right">^/article/.*[^/]/.*[^/]/(\?.*)?</td>
                        </tr>
                        <tr>
                            <td>Для статичных страниц:</td>
                            <td class="ks-text-right">^/page/.*[^/]/(\?.*)?</td>
                        </tr>
                    </table>

                    <p>
                        Для регулярных выражений можно указывать шаблоны,
                        к-е будут заменяться на настоящие значения:
                    </p>

                    <table class="table ks-table-tasks">
                        <tr>
                            <td>Заголовок статьи, страницы или другой сущности:</td>
                            <td class="ks-text-right">#title#</td>
                        </tr>
                        <tr>
                            <td>Короткое описание статьи, страницы или другой сущности:</td>
                            <td class="ks-text-right">#description#</td>
                        </tr>
                        <tr>
                            <td>Заголовок категории:</td>
                            <td class="ks-text-right">#category_title#</td>
                        </tr>
                        <tr>
                            <td>Короткое описание категории:</td>
                            <td class="ks-text-right">#category_description#</td>
                        </tr>
                    </table>

                    <p>
                        Если у сущности нет значения для указанного шаблона,
                        то шаблон будет просто убран. При подстановке из значений будут убраны html теги,
                        т.к. они в мета тегах не нужны.
                    </p>
                </li>
                <li>
                    <p><b>Конкретное значение</b></p>

                    <table class="table ks-table-tasks">
                        <tr>
                            <td>Главная страница:</td>
                            <td class="ks-text-right">/</td>
                        </tr>
                        <tr>
                            <td>Статья:</td>
                            <td class="ks-text-right">/article/category-1/narasivanie-resnic-za-protiv-i-neskolko-vaznyh-nuansov/</td>
                        </tr>
                    </table>
                </li>
            </ul>

            <p>Указывать язык в ссылке (ru, uz) не нужно.</p>

            <p>Для одной и той же ссылки должны быть указаны правила для каждого языка.</p>

            <p>
                Если существует 2 правила, которые могут распространиться на один и тот же элемент
                сущности, то нужно указывать значение сортировки, чтобы использовалось в итоге одно
                нужное правило.
            </p>

            <p>
                Например, для статьи могут существовать правило по регулярному выражению и правило для конкретной статьи.
                Тогда у правила для конкретной статьи значение сортировки должно быть больше, чем у правила по регулярному выражению.
            </p>

            <p>
                Мета ключи указываются через запятую с пробелом: key 1, key 2
            </p>
        </div>
    </div>
</div>