@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700');

/* --- Main --- */
body {
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #F7F7F9;*/
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    min-height: 100vh;
    color: #303030;
    /*font-family: 'Raleway', sans-serif;*/
}

main {
    flex: 1;
}

.page_wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* ------------ */

/* --- Common --- */
a {
    font-size: 12px;
    color: #303030;
    text-decoration: none;
}

h1 {
    margin: 80px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 48px;
}

h2 {
    position: relative;
    margin: 96px 0 48px;
    padding: 0 0 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 36px;
}
h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 83px;
    height: 2px;
    background: #303030;
    border-radius: 5px;
}
/* -------------- */


/* --- Header --- */
.page_header {
    display: flex;
    width: 100%;
    min-height: 48px;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 0 #F5F5F7;
}
.page_header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header_logo_link {
    display: flex;
    align-items: center;
    padding: 0 30px 0 0;
    border-right: 1px solid #EBEBF0;
}

.page_header .article_list_spoiler {
    display: none;
}

.header_article_category_list {
    display: flex;
    flex: 1;
    padding: 0 30px;
}

.header_article_category_list_item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 0 35px;
    padding: 0;
    height: auto;
    min-height: 100%;
}
.header_article_category_list_item:first-child {
    margin: 0;
}
.header_article_category_list_item.selected {
    color: #8200FA;
}
.header_article_category_list_item.selected:after,
.header_article_category_list_item:hover:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 1px;
    margin: 1px 0 0;
    background: #8200FA;
}

.header_subscribe {
    display: flex;
    align-items: center;
    padding: 0 30px 0 0;
}
.header_subscribe:hover svg * {
    fill: #8200FA;
}

.header_language_list {
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
    border-left: 1px solid #EBEBF0;
}

.header_language_item {
    display: inline-block;
    margin: 0 10px 0 0;
    color: #BEBED2;
}
.header_language_item.selected {
    color: #646473;
}

.mobile_version .header_article_category_list,
.mobile_version .header_subscribe {
    display: none;
}

.mobile_version .header_article_category_list.visible {
    display: flex;
    position: absolute;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    top: 100%;
    left: 0;
    margin: 1px 0 0;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background: #fff;

}

.mobile_version .header_article_category_list_item {
    margin: 0;
    padding: 16px 0;
    font-size: 14px;
}

.mobile_version .header_language_list {
    flex: 1;
    justify-content: flex-end;
}

.mobile_version .article_list_spoiler {
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
    border-left: 1px solid #EBEBF0;
}

/* --- Content --- */
.page_content_block {
    max-width: 928px;
    margin: 30px auto 0;
    padding: 0 25px;
}

.page_content_block img {
    max-width: 100%;
}

.page_content_block .img_wrap {
    margin: 0 0 40px;
}

.page_content_block .img_description {
    margin: 20px 0 0;
}

.page_content_block .img_description,
.page_content_block .img_description p {
    font-size: 14px;
    line-height: 23px;
    text-align: center;
}

.page_content_block .img_description p {
    margin: 0;
}

.page_content_block .images_list {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px;
}

.page_content_block .images_list_item {
    margin: 0 10px 0 0;
}
.page_content_block .images_list_item img {
    margin: 0;
}

.page_content_block p {
    font-size: 18px;
    line-height: 37px;
    margin: 0 0 40px;
}

.highlighted_block {
    margin: 50px -96px;
    padding: 35px 96px;
    background: #F0F0F5;
    border-radius: 5px;
    position: relative;

    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 37px;
}
.highlighted_block:before {
    content: '';
    width: 34px;
    height: 34px;
    position: absolute;
    left: 32px;
    top: 50%;
    margin: -17px 0 0;
    background: url('/assets/img/highlight.png') center center no-repeat;
}

.content_items_wrap {
    display: flex;
}

.content_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0;
}

.content_item {
    flex: 0 0 calc((100% - 32px) / 2);
    margin: 0 0 32px;
}

.content_item_image_block {
    position: relative;
}

.content_item_image_link {
    display: flex;
    align-items: center;
    height: 160px;
    overflow: hidden;
}

.content_item_statuses {
    position: absolute;
    top: 0;
    right: 0;
}

.content_item_statuses_inner {
    display: flex;
    flex-direction: column;
}

.content_item_status {
    padding: 8px;
    font-size: 12px;
    line-height: 16px;
}

.status_new {
    color: #FFFFFF;
    background: #FFA800;
}

.content_item_title_block {
    margin: 16px 0 0;
}

.content_item_title_link {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #282828;
}
.content_item_title_link:hover {
    color: #8200FA;
}

.content_item_preview_content {
    margin: 16px 0 0;
    font-size: 14px;
    color: #646473;
    line-height: 150%;
}

.content_item_preview_content p {
    margin: 0;
    font-size: 14px;
    color: #646473;
    line-height: 150%;
}

.content_item_time_category_block {
    margin: 16px 0 0;
    display: flex;
}

.content_item_category_link {
    flex: 1;
    color: #BEBED2;
    font-size: 12px;
    line-height: 16px;
}
.content_item_category_link:hover {
    color: #8200FA;
}

.content_item_time {
    font-size: 12px;
    line-height: 16px;
    color: #BEBED2;
}

.content_promo_vertical {
    width: 160px;
    margin: 0 0 0 32px;
    padding: 0 0 20px;
    position: relative;
}

.content_promo_vertical_inner.sticky {
    position: sticky;
}

.content_promo_vertical_item {
    margin: 15px 0 0;
}
.content_promo_vertical_item:first-child {
    margin: 0;
}

.index_promo {
    max-width: 736px;
    height: 128px;
    margin: 32px auto;
    background: #F0F0F5;
    border-radius: 5px;
    overflow: hidden;
}

.popular_shops {
    margin: 64px auto 80px;
}

.shop_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop_list .shop_item {
    flex: 0 0 calc((100% - 32px) / 5);
    margin: 0 0 48px;
}

.popular_shops .like_h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: #828296;
    margin: 0 0 72px;
}

/* - Page map links - */
.page_map {
    margin: 0 -96px;
}

.page_map_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page_map_title {
    margin: 0 0 40px;
    padding: 0 96px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
}

.page_map_link {
    display: flex;
    align-items: center;
    padding: 26px 40px;
    margin: 0 0 16px;
    flex: 0 0 calc((100% - 32px) / 2);
    box-sizing: border-box;
    border: 2px solid #F0F0F5;
    border-radius: 5px;

    font-family: 'Raleway', sans-serif;
    color: #8200FA;
    font-weight: 500;
    font-size: 18px;
}

.page_map_link img  {
    margin: 0 40px 0 0;
}

/* --- Пагинация --- */
.pagination {
    display: flex;
    margin: 0 0 64px;
    width: 100%;
}

.pagination_item_link {
    display: block;
    padding: 0 8px;
}

.pagination_item_link_number {
    display: block;
    padding: 8px 5px;
    border-bottom: 1px solid #EBEBF0;
    color: #646473;
    font-size: 12px;
    line-height: 16px;
}
.pagination_item_link.active .pagination_item_link_number,
.pagination_item_link:hover .pagination_item_link_number {
    color: #8200FA;
    border-color: #8200FA;
}
.pagination_item_link.disabled .pagination_item_link_number,
.pagination_item_link.disabled:hover .pagination_item_link_number {
    color: #646473;
    border-color: #EBEBF0;
}
/* ---------------- */

/* --- Табы --- */
.tabs_titles {
    display: flex;
    margin: 0 0 16px;
}

.tabs_title {
    margin: 0 25px 0 0;
    color: #BEBED2;
    font-size: 12px;
    line-height: 16px;
}
.tabs_title.selected,
.tabs_title:hover {
    cursor: pointer;
    color: #646473;
}

.tabs_content {
    display: none;
}
.tabs_content.selected {
    display: block;
}
.tabs_content.tabs_content_flex.selected {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0;
}
/* ----------- */

/* --- Footer --- */
.footer {
    padding: 32px 80px;
    border-top: 1px solid #F0F0F5;
}

.footer_inner {
    display: flex;
    max-width: 100%;
}

.footer_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 0;
}

.footer_links_item {
    flex: 0 0 calc((100% - 25px) / 3);
    margin: 0 0 10px;
}

.footer_social {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    align-items: center;
}

.footer_social_item {
    margin: 0 0 0 16px;
    padding: 10px 17px;
    text-align: right;
    position: relative;
    background: #F0F0F5;
    border-radius: 500px;
    white-space: nowrap;
}
.footer_social_item:first-child {
    margin: 0;
}
.footer_social_item:hover {
    color: #8200FA;
}
.footer_social_item:hover svg * {
    fill: #8200FA;
}

.footer_social_item svg {
    margin: 0 10px 0 0;
}

/* ------ 404 ---- */
.page_404 a {
    font-size: 18px;
    color: #8200FA;
}
/* -------------- */