@media (max-width: 600px) {
    /* --- Content --- */
    .page_map_link {
        padding: 25px 16px;
        flex: 0 0 100%;
    }

    .page_map_link img {
        margin: 0 16px 0 0;
    }

    .highlighted_block {
        padding: 56px 16px 20px;
    }
    .highlighted_block:before {
        left: 16px;
        top: 16px;
        margin: 0;
    }
    /* -------------- */
}

@media (max-width: 480px) {
    /* --- Common --- */
    h1 {
        margin: 16px 0 50px;
    }
    /* -------------- */

    /* --- Content --- */
    .content_items {
        flex-direction: column;
    }

    .content_item {
        flex: 0;
    }

    .popular_shops {
        margin: 32px auto 40px;
    }

    .popular_shops .like_h1 {
        margin: 0 0 20px;
        font-size: 24px;
    }

    .shop_list .shop_item {
        flex: 0 0 calc((100% - 24) / 5);
        margin: 0 0 21px;
    }
    /* -------------- */
}