img {
    max-width: 100%;
}

.ks-bold, b {
    font-weight: 600;
}

dl, ol, ul {
    padding: 0 0 0 16px;
}

.ks-sidebar>.ks-wrapper .nav .dropdown-item>.ks-icon,
.ks-sidebar>.ks-wrapper .nav .nav-link>.ks-icon {
    margin-right: 25px;
}

.module_content_table .ks-icon {
    font-size: 20px;
}

.pub_toggle_link,
.pub_toggle_link:focus {
    color: #000000;
}
.pub_toggle_link:hover,
.pub_toggle_link.active {
    color: #ff9600;
}

/* ------ Формы ------ */
button {
    cursor: pointer;
}

.form-check-input {
    margin: 1px 0 0;
}
/* ------------------ */