img {
    max-width: 100%;
}

.module_content_table .ks-icon {
    font-size: 20px;
}

/* ------ Формы ------ */
button {
    cursor: pointer;
}

.form-check-input {
    margin: 1px 0 0;
}
/* ------------------ */