body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    min-height: 100vh;
    color: #303030;
}

a {
    font-size: 12px;
    color: #303030;
    text-decoration: none;
}

h1 {
    margin: 80px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 48px;
}

h2 {
    position: relative;
    margin: 96px 0 48px;
    padding: 0 0 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 36px;
}
h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 83px;
    height: 2px;
    background: #303030;
    border-radius: 5px;
}

p {
    margin: 0 0 40px;
}

img {
    max-width: 100%;
}

.highlighted_block {
    margin: 50px 0;
    padding: 35px 96px;
    background: #F0F0F5;
    border-radius: 5px;
    position: relative;

    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 37px;
}
.highlighted_block:before {
    content: '';
    width: 34px;
    height: 34px;
    position: absolute;
    left: 32px;
    top: 50%;
    margin: -17px 0 0;
    background: url('/assets/img/highlight.png') center center no-repeat;
}

.img_wrap {
    margin: 0 0 40px;
    text-align: center;
}

.img_wrap img {
    max-width: 100%;
    max-height: 200px;
}

.img_description {
    margin: 20px 0 0;
}

.img_description,
.img_description p {
    font-size: 14px;
    line-height: 23px;
    text-align: center;
}

.img_description p {
    margin: 0;
}

.images_list {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px;
}

.images_list_item {
    margin: 0 10px 0 0;
}
.images_list_item img {
    margin: 0;
}